@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background: #bbc6fa;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 8px;
  width: 700px;
  padding: 1.2rem;
  display: flex;
  gap: 1.2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main h1 {
  font-size: 2rem;
  font-weight: 700;
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1.6rem;
}

.author {
  display: flex;
  align-items: center;
}

.line {
  width: 24px;
  height: 1px;
  background-color: blue;
  margin-right: 0.3rem;
  border-radius: 4px;
  border: none;
  outline: none;
}

.buttons {
  padding: 1.2rem;

  display: flex;
  gap: 1.2rem;
}

.buttons button {
  outline: none;
  border: none;
  padding: 1rem 1.8rem;
  border-radius: 28px;
  font-size: 0.9rem;
}

.tweet {
  display: flex;
  align-items: center;
}

.tweet img {
  width: 16px;
  height: 16px;
  margin-right: 0.5rem;
}
