@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #d3eeff;
  background: linear-gradient(
    180deg,
    #d3eeff 0%,
    #e9f7ff 25%,
    #f1f9ff 75%,
    #fff 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.container {
  background-color: #fff;
  border-radius: 36px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 60vw; /*Proporcion de la tarjeta principal en relacion al ancho de la pantalla*/
  height: 80vh; /*Proporciona de la tarjeta principal en relacion al alto de la pantalla*/
}

.container p {
  font-size: 17px;
  line-height: normal;
  letter-spacing: 0.3px;
  margin: 20px 0;
}

.container span {
  font-size: 17px;
  padding: 12px 26px 24.214px 26px;
  gap: 36px;
}

.container a {
  color: #ccc;
  font-size: 16px;
  text-decoration: none;
  margin: 15px 0 10px;
}

.container button {
  background-color: #003c43;
  color: #f1f9ff;
  font-size: 17px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: normal;
  margin-top: 10px;
  cursor: pointer;
}

.container button.hidden {
  background-color: #ffffff;
  border-color: transparent;
  color: black;
}

.container form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0 40px;
  height: 100%;
}

.container input {
  background-color: #eee;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 17px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

.form-container {
  top: 0;
  height: 100%;
  width: 50%;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 24px;
  overflow: auto;
}

.img-container {
  background-color: #003c43;
  top: 0;
  border-radius: 0 150px 100px 0;
  position: absolute;
  width: 50%;
  height: 100%;
  right: 50%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1000;
}

img {
  width: 461px;
  height: 470px;
}
