:root {
  --caption-mobile-font-family: "Sofia Sans", Helvetica;
  --caption-mobile-font-weight: 300;
  --caption-mobile-font-size: 10px;
  --caption-mobile-letter-spacing: 0px;
  --caption-mobile-line-height: 12px;
  --caption-mobile-font-style: normal;
  --caption-desktop-font-family: "Sofia Sans", Helvetica;
  --caption-desktop-font-weight: 300;
  --caption-desktop-font-size: 14px;
  --caption-desktop-letter-spacing: 0px;
  --caption-desktop-line-height: 14px;
  --caption-desktop-font-style: normal;
  --body-mobile-font-family: "Sofia Sans", Helvetica;
  --body-mobile-font-weight: 300;
  --body-mobile-font-size: 12px;
  --body-mobile-letter-spacing: 0px;
  --body-mobile-line-height: 14px;
  --body-mobile-font-style: normal;
  --body-desktop-font-family: "Sofia Sans", Helvetica;
  --body-desktop-font-weight: 300;
  --body-desktop-font-size: 16px;
  --body-desktop-letter-spacing: 0px;
  --body-desktop-line-height: 16px;
  --body-desktop-font-style: normal;
  --link-modile-font-family: "Sofia Sans", Helvetica;
  --link-modile-font-weight: 400;
  --link-modile-font-size: 14px;
  --link-modile-letter-spacing: 0px;
  --link-modile-line-height: 16px;
  --link-modile-font-style: normal;
  --link-desktop-font-family: "Sofia Sans", Helvetica;
  --link-desktop-font-weight: 400;
  --link-desktop-font-size: 18px;
  --link-desktop-letter-spacing: 0px;
  --link-desktop-line-height: 18px;
  --link-desktop-font-style: normal;
  --subheadline-mobile-font-family: "Sofia Sans", Helvetica;
  --subheadline-mobile-font-weight: 400;
  --subheadline-mobile-font-size: 16px;
  --subheadline-mobile-letter-spacing: 0px;
  --subheadline-mobile-line-height: 16px;
  --subheadline-mobile-font-style: normal;
  --subheadline-desktop-font-family: "Sofia Sans", Helvetica;
  --subheadline-desktop-font-weight: 400;
  --subheadline-desktop-font-size: 20px;
  --subheadline-desktop-letter-spacing: 0px;
  --subheadline-desktop-line-height: 20px;
  --subheadline-desktop-font-style: normal;
  --headline-mobile-font-family: "Sofia Sans", Helvetica;
  --headline-mobile-font-weight: 500;
  --headline-mobile-font-size: 18px;
  --headline-mobile-letter-spacing: 0px;
  --headline-mobile-line-height: 16px;
  --headline-mobile-font-style: normal;
  --headline-desktop-font-family: "Sofia Sans", Helvetica;
  --headline-desktop-font-weight: 400;
  --headline-desktop-font-size: 24px;
  --headline-desktop-letter-spacing: 0px;
  --headline-desktop-line-height: 24px;
  --headline-desktop-font-style: normal;
  --display-3-mobile-font-family: "Sofia Sans", Helvetica;
  --display-3-mobile-font-weight: 500;
  --display-3-mobile-font-size: 20px;
  --display-3-mobile-letter-spacing: 0px;
  --display-3-mobile-line-height: 18px;
  --display-3-mobile-font-style: normal;
  --display-3-desktop-font-family: "Sofia Sans", Helvetica;
  --display-3-desktop-font-weight: 500;
  --display-3-desktop-font-size: 28px;
  --display-3-desktop-letter-spacing: 0px;
  --display-3-desktop-line-height: 28px;
  --display-3-desktop-font-style: normal;
  --display-2-mobile-font-family: "Sofia Sans", Helvetica;
  --display-2-mobile-font-weight: 600;
  --display-2-mobile-font-size: 24px;
  --display-2-mobile-letter-spacing: 0px;
  --display-2-mobile-line-height: 24px;
  --display-2-mobile-font-style: normal;
  --display-2-desktop-font-family: "Sofia Sans", Helvetica;
  --display-2-desktop-font-weight: 600;
  --display-2-desktop-font-size: 32px;
  --display-2-desktop-letter-spacing: 0px;
  --display-2-desktop-line-height: 30px;
  --display-2-desktop-font-style: normal;
  --display-1-desktop-font-family: "Sofia Sans", Helvetica;
  --display-1-desktop-font-weight: 700;
  --display-1-desktop-font-size: 36px;
  --display-1-desktop-letter-spacing: 0px;
  --display-1-desktop-line-height: 32px;
  --display-1-desktop-font-style: normal;
  --display-1-mobile-font-family: "Sofia Sans", Helvetica;
  --display-1-mobile-font-weight: 700;
  --display-1-mobile-font-size: 28px;
  --display-1-mobile-letter-spacing: 0px;
  --display-1-mobile-line-height: 28px;
  --display-1-mobile-font-style: normal;
  --colors-pallete-red-50: rgba(251, 233, 233, 1);
  --colors-pallete-red-100: rgba(247, 212, 212, 1);
  --colors-pallete-red-200: rgba(240, 168, 168, 1);
  --colors-pallete-red-300: rgba(232, 125, 125, 1);
  --colors-pallete-red-400: rgba(225, 81, 81, 1);
  --colors-pallete-red-500: rgba(217, 38, 38, 1);
  --colors-pallete-red-600: rgba(174, 30, 30, 1);
  --colors-pallete-red-700: rgba(130, 23, 23, 1);
  --colors-pallete-red-800: rgba(87, 15, 15, 1);
  --colors-pallete-red-900: rgba(43, 8, 8, 1);
  --colors-pallete-red-950: rgba(22, 4, 4, 1);
  --colors-pallete-blue-50: rgba(231, 235, 253, 1);
  --colors-pallete-blue-100: rgba(206, 215, 250, 1);
  --colors-pallete-blue-200: rgba(157, 175, 245, 1);
  --colors-pallete-blue-300: rgba(108, 134, 240, 1);
  --colors-pallete-blue-400: rgba(59, 94, 235, 1);
  --colors-pallete-blue-500: rgba(10, 54, 230, 1);
  --colors-pallete-blue-600: rgba(8, 43, 184, 1);
  --colors-pallete-blue-700: rgba(6, 32, 138, 1);
  --colors-pallete-blue-800: rgba(4, 22, 92, 1);
  --colors-pallete-blue-900: rgba(2, 11, 46, 1);
  --colors-pallete-blue-950: rgba(1, 5, 23, 1);
  --colors-pallete-blak-white-0: rgba(255, 255, 255, 1);
  --colors-pallete-blak-white-50: rgba(241, 241, 241, 1);
  --colors-pallete-blak-white-100: rgba(227, 227, 227, 1);
  --colors-pallete-blak-white-200: rgba(199, 199, 199, 1);
  --colors-pallete-blak-white-300: rgba(171, 171, 171, 1);
  --colors-pallete-blak-white-400: rgba(143, 143, 143, 1);
  --colors-pallete-blak-white-500: rgba(115, 115, 115, 1);
  --colors-pallete-blak-white-600: rgba(92, 92, 92, 1);
  --colors-pallete-blak-white-700: rgba(69, 69, 69, 1);
  --colors-pallete-blak-white-800: rgba(46, 46, 46, 1);
  --colors-pallete-blak-white-900: rgba(23, 23, 23, 1);
  --colors-pallete-blak-white-950: rgba(12, 12, 12, 1);
  --colors-pallete-blak-white-1000: rgba(0, 0, 0, 1);
  --number-tokens-spacing-3xs: 6px;
  --number-tokens-spacing-2xs: 8px;
  --number-tokens-spacing-xs: 12px;
  --number-tokens-spacing-sm: 14px;
  --number-tokens-spacing-md: 16px;
  --number-tokens-spacing-lg: 18px;
  --number-tokens-spacing-xl: 20px;
  --number-tokens-spacing-2xl: 24px;
  --number-tokens-spacing-3xl: 28px;
  --number-tokens-corner-radious-3xs: 1px;
  --number-tokens-corner-radious-2xs: 2px;
  --number-tokens-corner-radious-xs: 4px;
  --number-tokens-corner-radious-sm: 6px;
  --number-tokens-corner-radious-md: 8px;
  --number-tokens-corner-radious-lg: 12px;
  --number-tokens-corner-radious-xl: 14px;
  --number-tokens-corner-radious-2xl: 16px;
  --number-tokens-corner-radious-3xl: 18px;
}
