@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --bg-container: #333;
  --bg-player: #fffae0;
  --yellow-01: #b08931;
  --yellow-02: #e5b432;
  --yellow-2: #ecbe5f;
  --gray-01: #a8a5a5;
  --gray-02: #787475;
  --white: #fff;
}

.container {
  background: var(--bg-container);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.music__player {
  width: 400px;
  padding: 0.8rem 1.2rem;
  background: var(--bg-player);
  border-radius: 4px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .arrow__left,
.navbar .menu {
  padding: 0.4rem;
  border-radius: 50%;
  box-shadow: 2px 4px 12px var(--yellow-02);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--white);
}

.arrow__left i,
.menu i {
  font-size: 1.3rem;
  color: var(--yellow-01);
}

.img__container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-block: 1.5rem; /*Arriba y abajo*/
}

.img__container img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  border: 8px solid var(--white);
  box-shadow: 0 10px 60px var(--yellow-2);
}

.detail__song {
  text-align: center;
  width: 100%;
  margin: 1rem 0;
}

.detail__song h3 {
  color: var(--bg-container);
}

.detail__song p {
  margin-top: 0.5rem;
  color: var(--gray-01);
}

.range__song {
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
}

.controls {
  margin-block: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  color: var(--yellow-01);
}

.controls .back,
.controls .next,
.controls .play {
  padding: 1.2rem;
  background: var(--white);
  border-radius: 50%;
  box-shadow: 0 10px 60px var(--yellow-02);
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.controls .play {
  padding: 1.5rem;
  font-size: 3rem;
  color: var(--bg-container);
}
