@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --bg-container: #333;
  --bg-player: #fffae0;
  --yellow-01: #b08931;
  --yellow-02: #e5b432;
  --yellow-2: #ecbe5f;
  --gray-01: #a8a5a5;
  --gray-02: #787475;
  --white: #fff;
}

html {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  position: fixed;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  z-index: -1;
}

.background img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 50%;
  min-height: 50%;
  filter: blur(15px);
  -webkit-filter: blur(60px);
  transform: scale(1.2);
}

.container {
  width: 400px;
  height: 500px;
  background: #e7e7e7;
  border-radius: 20px;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease;
}

.container .song__img {
  width: 300px;
  height: 300px;
  position: relative;
  top: -50px;
  left: 50px;
}

.song__img img {
  object-fit: cover;
  border-radius: 4px;
  height: 0;
  width: 0;
  opacity: 0;
  box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.5);
}

.song__img img.active {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  opacity: 1;
}

#song__title,
#song__artist {
  text-align: center;
  margin-bottom: 0.6rem;
}

#song__title {
  font-size: 1.3rem;
  font-weight: 600;
}

#song__artist {
  color: var(--bg-container);
  font-size: 1rem;
  font-weight: 500;
}

.player__progress {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 1.5rem;
}

.song__duration {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.8rem;
}

.progress__bar {
  height: 6px;
  width: 100%;
  border-radius: 4px;
  background: var(--gray-01);
  cursor: pointer;
}

.progress {
  height: 6px;
  width: 0%;
  border-radius: 4px;
  background: var(--bg-container);
  transition: width 0.1s linear;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: var(--gray-02);
  margin-top: 0.5rem;
}

.controls i {
  font-size: 3.5rem;
  cursor: pointer;
  user-select: none;
}

.controls i:hover {
  filter: brightness(40%);
}

.controls i:nth-child(2) {
  font-size: 5rem;
}
